.navbar
{
    height: 50px;
    padding: 0 4px;
    padding-left: 20px;
    background-color: #2a2a2e;
    font-family: 'Trebuchet MS';
    position: sticky;
    top: 0;
    z-index:2;
}

.mat-mdc-button {
    font-family: inherit;
    font-size: 13px;
}

.mat-mdc-button:hover {
    background-color: rgb(112, 109, 150);
}

mat-icon
{
  left: 4px;
}

.container-input {
    position: relative;
    margin-left: 220px;
    display: flex;
}

.input {
    width: 175px;
    padding: 10px 0px 10px 45px;
    border-radius: 10px;
    border: solid 1px #333;
    transition: all .25s ease-in-out;
    outline: none;
    opacity: 0.8;
    height: 31px;
    font-size: 13px;
}

.container-input .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    color: black;
    /* background-color: red; */
}
.icon i {
    font-size: 16px;
}

.input:focus {
    opacity: 1;
    width: 210px;
  }

::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text
{
    font-family: 'Trebuchet MS' !important;
    font-size: 15px !important;
}   


.lord-icon {
    width:23px;
    height:23px;
    vertical-align:-5px;
    cursor:pointer;
}

.lord-icon-brand {
    width:32px;
    height:32px;
    vertical-align:-10px;
}

.brand
{
    cursor: pointer;
    color: #d4d1fa;
}

::ng-deep .mat-mdc-option
{
    font-size: 14px !important;
    font-family: 'Trebuchet MS' !important;
}



/* Tablets and Smaller Desktops */
@media screen and (max-width: 991px) {
    
    .container-input {
        margin-left: 120px;
    }
}

/* Medium Mobile Screen */
@media screen and (max-width: 830px) {
    .container-input {
        margin-left: 0px;
    }

    .brand {
        display: none;
    }

    .navbar{
        padding-right: 10px;
    }
}

/* Small Mobile Screen */
@media screen and (max-width: 576px) {

    .container-input {
        margin-left: 0;
        display: none;
    }

    .brand {
        display: none;
    }

    .navbar{
        padding-right: 10px;
    }

}
