<input type="text" [(ngModel)]="addbook.title" placeholder="title">
<input type="text" [(ngModel)]="addbook.author" placeholder="author">
<input type="text" [(ngModel)]="addbook.genre" placeholder="genre">
<input type="text" [(ngModel)]="addbook.imageLink" placeholder="imageLink">
<input type="text" [(ngModel)]="addbook.language" placeholder="language">
<input type="text" [(ngModel)]="addbook.description" placeholder="description">
<input type="text" [(ngModel)]="addbook.link" placeholder="link">
<input type="text" [(ngModel)]="addbook.country" placeholder="country">

<input type="number" [(ngModel)]="addbook.pages" placeholder="pages">
<input type="number" [(ngModel)]="addbook.price" placeholder="price">
<input type="number" [(ngModel)]="addbook.rating" placeholder="rating">
<input type="number" [(ngModel)]="addbook.year" placeholder="year">
<br>
<button mat-raised-button (click)="postbook()">Submit</button>
<br>  <br>  
<p>{{addbook.title}}</p>
<p>{{addbook.author}}</p>
<p>{{addbook.genre}}</p>
<p>{{addbook.imageLink}}</p>
<p>{{addbook.language}}</p>
<p>{{addbook.description}}</p>
<p>{{addbook.country}}</p>
<p>{{addbook.pages}}</p>
<p>{{addbook.price}}</p>
<p>{{addbook.rating}}</p>
<p>{{addbook.year}}</p>
