<section class="section"> 
   
  <div class="filterPanel">
    <div class="filter-title">
      <h2>Filters <i class="fa-solid fa-filter"></i></h2>
    </div>

    <div class="filter-authors">
      <h2 class="author">Author:</h2>
      <mat-form-field appearance="outline" class="filter-fields">
        <mat-label>Filter by Author</mat-label>
        <mat-select multiple [(ngModel)]="selectedAuthors" (ngModelChange)="filterBooks()" class="matselect">
          <mat-option *ngFor="let author of getUniqueAuthors()" [value]="author">{{author}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  <div class="filter-genre">
      <h2 class="genre">Genre:</h2>
    <mat-form-field appearance="outline" class="filter-fields">
      <mat-label>Filter by Genre</mat-label>
      <mat-select multiple [(ngModel)]="selectedGenres" (ngModelChange)="filterBooks()">
        <mat-option *ngFor="let genre of  getUniqueGenres()" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="filter-language">
    <h2 class="language">Language:</h2>
    <mat-form-field appearance="outline" class="filter-fields">
      <mat-label>Filter by Language</mat-label>
      <mat-select multiple [(ngModel)]="selectedLanguages" (ngModelChange)="filterBooks()">
        <mat-option *ngFor="let language of getUniqueLanguages()" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

   <div class="filter-publishedYear">
    <h2 class="published-year">Published Year:</h2>
    <mat-form-field appearance="outline" class="filter-fields">
      <mat-label>Filter by Year</mat-label>
      <mat-select multiple [(ngModel)]="selectedYear" (ngModelChange)="filterBooks()">
        <mat-option *ngFor="let year of getUniqueYears()" [value]="year">{{year}}</mat-option>
      </mat-select>
      </mat-form-field>
  </div>

  <div class="filter-price">
    <h2 class="by-price">Price:</h2>
    <mat-slider min="0" max="1000" step="50" (change)="filterBooks()" class="slider" color="success" class="slider-filter">
      <input [(ngModel)]="minPriceValue" matSliderStartThumb>
      <input [(ngModel)]="maxPriceValue" matSliderEndThumb>
    </mat-slider>
      <div class="slider-values">
        <p>{{minPriceValue}}</p>
        <p>{{maxPriceValue}}</p>
      </div>
   </div>
  </div>
  
  <div class="bookList-section">
    <div class="sort_section">
      <button class="sort_button" mat-raised-button (click)="toggleDiv()">SORT BY <i class="fa-solid fa-angles-right"></i></button>
      <div class="sortMethods" [ngClass]="{'open': isSortDivVisible}">
        <button class="btn" mat-raised-button (click)="sortByPriceLowToHigh()">Price-Low to High <i class="fa-solid fa-arrow-down"></i></button>
        <button class="btn" mat-raised-button (click)="sortByPriceHighToLow()">Price-High to Low <i class="fa-solid fa-arrow-up"></i></button>
        <button class="btn btn-sort" mat-raised-button (click)="sortByratingLowToHigh()">Popularity <i class="fa-solid fa-arrow-down"></i></button>
        <button class="btn btn-sort" mat-raised-button (click)="sortByratingHighToLow()">Popularity <i class="fa-solid fa-arrow-up"></i></button>
        <button class="btn btn-sort" mat-raised-button (click)="sortByRecent()">Latest</button>
      </div>
</div>
<span class="loader" 
      *ngIf="!isFetching" >
</span>
<div class="books">
  <mat-card class="card" *ngFor="let book of searchbooks">
    <!-- <lord-icon class="bookmark"
        src="https://cdn.lordicon.com/hntobqbr.json"
        trigger="hover"
        state="hover-unroll"
        colors="primary:#08a88a,secondary:#ebe6ef,tertiary:#f24c00,quaternary:#eee966,quinary:#66a1ee"
        style="width:28px;height:28px"
        (click)="addToWishList()">
    </lord-icon> -->
    <mat-card-header class="header" [routerLink]="['/user/book/', book.id]">
      <img mat-card-image appHover class="image" src="{{book.imageLink}}" alt="{{book.title}}">
    </mat-card-header>
    <mat-card-content class="content" [routerLink]="['/user/book/', book.id]">
        <mat-card-title class="book-title">{{book.title}}</mat-card-title>
        <mat-card-subtitle class="auth-title">by {{book.author}}</mat-card-subtitle>
    </mat-card-content>
    
    <mat-card-footer class="footer">
        <div class="star">
          <star-rating [starType]="'svg'" [rating]="book.rating" [readOnly]="true" [staticColor]="'ok'"></star-rating>
        </div>
        <div class="price">
          <p>PRICE:<mat-icon class="icon">currency_rupee</mat-icon>{{book.price}}</p>  
        </div>
        <div class="actions">
          <button class="cart_button" (click)="addToCart(book)">
            <!-- <span><i class="fa-solid fa-cart-shopping"></i>&nbsp; ADD TO CART</span> -->
            <span>
              <lord-icon
                src="https://cdn.lordicon.com/mfmkufkr.json"
                trigger="hover"
                colors="primary:#a866ee"
                class="lord-icon">
              </lord-icon>&nbsp; ADD TO CART</span>
          </button>
        </div>
    </mat-card-footer>
  </mat-card>
</div>
</div>
</section>

