<div class="cart_page">
    <section class="cart">
    <div class="cart_table">
        <span class="loader" *ngIf="!isFetching"></span>
        <div class="emptyCart" *ngIf="cartItems.length == 0"></div>
        <mat-card class="cart-card" *ngIf="cartItems.length > 0">
            <div class="card-header">
                <h2>Shopping Cart </h2>
                <div class="header_items">
                    <h2 *ngIf="cartItems.length ==1">{{cartItems.length}} item</h2>
                    <h2 *ngIf="cartItems.length >1">{{cartItems.length}} items</h2>
                </div>           
            </div>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="table">
                <ng-container matColumnDef="S.no"> 
                    <th mat-header-cell *matHeaderCellDef>S.NO</th>
                    <td mat-cell *matCellDef="let i = index">{{i+1}}.</td>
                </ng-container>
        
                <ng-container matColumnDef="Book"> 
                    <th mat-header-cell *matHeaderCellDef>BOOK</th>
                    <td mat-cell *matCellDef="let cart" class="book_cell">
                        <img src="{{cart.book.imageLink}}" class="image" alt="{{cart.book.title}}" width="80px" >
                        <div class="content">
                            <p class="title">{{cart.book.title}}</p>
                            <p class="author"> by {{cart.book.author}}</p>
                            <a class="link_remove" (click)="deleteCartItems(cart.cartId)">Remove</a>
                        </div> 
                    </td>
                </ng-container>
        
                <!-- <ng-container matColumnDef="Action"> 
                    <th mat-header-cell *matHeaderCellDef>ACTION</th>
                    <td mat-cell *matCellDef="let cart">
                        <button mat-raised-button color="warn" >Remove</button>
                    </td>
                </ng-container> -->
        
                <ng-container matColumnDef="Quantity"> 
                    <th mat-header-cell *matHeaderCellDef class="quantity">QTY</th>
                    <td mat-cell *matCellDef="let cart">{{cart.quantity}}</td>
                </ng-container>
        
                <ng-container matColumnDef="Cost"> 
                    <th mat-header-cell *matHeaderCellDef>COST</th>
                    <td mat-cell *matCellDef="let cart">RS.{{cart.price | currency:'':''}}</td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            </table>
        </mat-card-content>
        <mat-card-footer>
            <div class="footers">
                <a class="footer-link" routerLink="/user/books">Continue Shopping</a>
            </div>
            <div *ngIf="getTotalPrice() > 0" class="total-price">
                Subtotal RS.{{ getTotalPrice() | currency:'':''}}
            </div>
            <div class="checkout">
                <button class="checkout-btn">Checkout</button>
            </div>
        </mat-card-footer>
    </mat-card>
    </div>
</section>
</div>
















<!-- <div class="cart_page">
 <div class="cart_table">
    <mat-table [dataSource]="cartItems">

        <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.book.title }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.book.author }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.quantity }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.price | currency }}</mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="['title', 'author', 'quantity', 'price']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'author', 'quantity', 'price']"></mat-row>

    </mat-table>
        <div class="total-cost-section">
            Total Cost: {{ getTotalCost() | currency }}
        </div>
  </div>  
</div> -->