.loginpage{
    width: 100%;
    min-height: 100vh;
    background-color: bisque;
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(rgba(65, 61, 61, 0.5), rgba(96, 81, 81, 0.8)),url("src/assets/images/bg.jpg");  */
    background-image: linear-gradient(rgba(65, 61, 61,0.1), rgba(96, 81, 81, 0.1)),url("src/assets/images/mountains.webp"); 
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 10px;
}

.title {
    color: #525252;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 28px;
}

h2 i {
    font-size: 22px;
    position: absolute;
    top: 45px; 
}

.card{
    width: 24%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(225, 223, 220, 0.45);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;
    padding-top: 40px;
   
}

.row {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    /* background-color: #484747; */
}


/* .form-group {
    position: relative;
    margin-bottom: 15px;
    background-color: rgb(195, 244, 240);
    min-height: 94px;
    width: 100%;
  
} */


.form-group {
    min-height: 94px;
    width: 95%;
}

/* .form-group input {
    line-height: 28px;
    width: 100%;
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 14px;
    color: #666;
    transition: all 0.4s ease;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
} */



.form-group input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #525252;
    background-color: #fff;
    box-shadow: 4px 4px #525252;
    font-size: 13px;
    font-weight: 500;
    color: #323232;
    padding: 5px 10px;
    outline: none;
    transition: all 0.4s ease-out;
}

input:hover {
    transform: scale(105%);
}

/* input:active {
    border: 2px solid #2d8cf0;
} */

::placeholder {
    font-size: 14px;
    color: #666;
    opacity: 0.6;
}

/* form label {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    color: #484747;
    margin-bottom: 4px;
} */

form label {
    font-size: 0.95rem;
    font-weight: bold;
    color:#525252;
    margin-bottom: 4px;
    margin-left: 1px;
}


/* form label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0B2447;
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
  } */


/* input.ng-invalid.ng-touched {
    border: 1px solid red ;
} */


/* .errormessage {
    margin-top: 8px;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(84, 80, 80);
    padding: 0 15px;
    font-family:monospace;
} */

span {
    margin-top: 8px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(84, 80, 80);
    padding: 4px 12px;
    font-family:monospace;

    color: white;
    font-size: 13px;
}

.end {
    margin-top: -6px;
    /* background-color: red; */
    width: 100%;
    margin-bottom: -15px;
}

.link {
    color: #1e3799;
}

.signup{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer; 
    margin-top: 10px;
}

.forgotPassword {
    margin-top: -20px;
    margin-left: 150px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 12px;
    top: 10px;
    display: inline-block;
}

.logo img {
    width: 40%;
    border-radius: 4px;
}

.btn {
    padding: 9px 19px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 800;
    font-size: 14px;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    /* transition: all 0.4s ease; */
    display: block;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 400ms ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    /* transform: scale(105%); */
    color: #e8e8e8;
}


.loader {
    width: 28px;
    height: 28px;
    border: 6px solid;
    border-color: #021c3c transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
        
@media (max-width: 986px)  {
    
    .card {
      width: 45%;
      /* padding: 30px 20px; */
  }

}

@media (max-width: 767px) {
    
    .row {
      width: 100%;
      /* display: flex; */
    }

    .card {
        width: 50%;
        /* padding: 30px 20px; */
    }
}

@media (max-width: 576px)  {
    
      .card {
        width: 80%;
        /* padding: 30px 20px; */
    }

}

