<h1 mat-dialog-title>Please Enter Your Email</h1>
  <!-- <mat-form-field appearance="outline"> 
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
  </mat-form-field> -->
  <div class="input-group">
    <label class="label">Email address:</label>
    <input name="Email" id="Email" class="input" type="email" [(ngModel)]="email" placeholder="Ex: John@mail.com">
  </div>
<div mat-dialog-actions class="buttons">
  <button class="close-button" (click) ="onNoClick()">No Thanks</button>
  <button class="ok-button" (click) = "getPasswordLink()" cdkFocusInitial>Send Link</button>
</div>
