.input {
    /* max-width: 290px; */
    height: 44px;
    background-color: #05060f0a;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .label {
    display: block;
    width: 100%;
    margin-bottom: .4em;
    font-size: .9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input-group {
    padding-left: 20px;
    margin-top: 5px;
    /* background-color: aqua; */
    margin-bottom: 5px;
  }
  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover .label, .input:focus {
    color: #05060fc2;
  }

  h1 {
    margin-bottom: 0px;
  }

  .close-button {
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #fff;
    background-color: rgb(232, 69, 69);
    color: rgb(255, 255, 255);
    transition: background-color .4s;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
  }

  .ok-button {
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #fff;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    transition: background-color .4s;
    border-radius: 5px;
    font-family: 'Trebuchet MS';
  }

  .buttons{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  button:hover {
    opacity: 0.7;
  }